@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>This is Christopher Ayegwalo.</h1>
    <p>Learn about <a href="https://azure.microsoft.com/services/devops">Azure DevOps</a>.</p>
</div>
